{% extends 'shopapp/base.html' %}

{% block title %}
    Create product
{% endblock %}


{% block body %}
{% if perms.foo %}
    <p>You have permission to do something in the foo app.</p>
    <h1>Create a new product</h1>
    <div>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Create
        </button>
    </form>
    </div>

    <div>
    <a href="{% url 'shopapp:products_list' %}"
    >Back to products list</a>
    </div>
{% else %}
    <p>You don't have permission to do anything in the foo app.</p>
{% endif %}
{% endblock %}