{% extends "shopapp/base.html" %}
{% load cache %}

{% block titlt %}
    User
{% endblock %}

{% block body %}
    <h1>User {{ user.username }} create next orders:</h1>
    {% cache 100 'orders_'|add:owner.id %}
    <h3>Orders:</h3>
    {% if orders %}
        <div>
            {% for order in orders %}
            <div>
                <p><a href="{% url 'shopapp:order_details' pk=order.pk %}"
                >Details #{{ order.pk }}</a> </p>
                <p>Order by {% firstof order.user.first_name order.user.username %}</p>
                <p>Promocode: <code>{{ order.promocode }}</code></p>
                <p>Delivery address: {{ order.delivery_address }}</p>
                <div>
                    Products in order:
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }} for ${{ product.price }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

    {% else %}
        <h3>At the user {{ user.username }} no orders yet</h3>
    {% endif %}
    {% endcache %}

{% endblock %}