{% extends "myauth/base.html" %}

{% block titlt %}
    Users list
{% endblock %}

{% block body %}
    <h1>Users:</h1>
    {% if users %}
        <div>
            {% for user in users %}
            <div>
                <a href="{% url 'myauth:profile_detail' pk=user.profile.pk %}"><p>Name: {{ user.username }}</p></a>


                {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
                {% endif %}

            </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No users yet</h3>
    {% endif %}

{% endblock %}
